*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: $color-black;
}

section {
  min-height: 80vh;
  width: 100%;
  background-color: $color-lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid #fff;

  h2 {
    margin-bottom: 40px;
  }
}

span {
  display: inline-block;
}
