// Typography
.fw-bold {
  font-weight: bold;
}

.text-caption-m {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
}

.text-input-m {
  font-size: 16px;
  line-height: 16px;
}

.text-content-sm {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.body-leading {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.0015em;
}

.subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0015em;
}

// Colors
.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-info {
  color: $color-info;
}

.color-darker {
  color: $color-darker;
}

.color-neutral-dark {
  color: $color-neutral-dark;
}

.color-neutral-grey {
  color: $color-neutral-grey;
}

// Box shadow
.box-shadow-none {
  box-shadow: none !important;
}

// Spacing
.mt-48 {
  margin-top: 48px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 2px;
}

.mr-6 {
  margin-right: 6px;
}

// Flex & Grid
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.a-items-center {
  align-items: center;
}

.a-self-start {
  align-self: start;
}

// Position
.p-relative {
  position: relative;
}

// Sizing
.w-max-content {
  width: max-content !important;
}

.w-100 {
  width: 100%;
}

// UI Elements
.separator {
  @include separator;
}
