h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: $color-primary;
}

h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-primary;
}

.text-caption-m {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
}

.text-input-m {
  font-size: 16px;
  line-height: 16px;
}
