:root {
  --color-primary: #2b71f0;
  --color-lighter: #f0efea;
  --color-black: #1a1a1a;
  --color-neutral-dark: #6c6c84;
  --color-white: #ffffff;
  --color-info: #4ac7d3;
  --color-neutral-light: #d4d4d4;
}
