.alert {
  display: inline-block;
  border-radius: 37px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 52px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0015em;
  color: $color-black;
  background-color: transparent;

  &--success {
    position: relative;
    background-color: $color-success-light;

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 20px;
      background-image: url("../svg/success-icon.svg");
      background-repeat: no-repeat;
      background-size: 20px;
      width: 20px;
      height: 20px;
    }
  }

  &--info {
    position: relative;
    background-color: $color-primary-light;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 20px;
      background-image: url("../svg/info-icon.svg");
      background-repeat: no-repeat;
      background-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
