.booked-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 552px;

  &__card {
    padding: 32px;
    padding-top: 40px;
    margin-top: 24px;
    border-radius: 8px;
    background-color: $color-white;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 24px;
      }

      & > p {
        margin-bottom: 4px;
      }
    }

    &-body {
      margin-top: 24px;
    }
  }

  .btn {
    margin-top: 32px;
  }
}
