.btn {
  display: inline-block;
  padding: 15px 24px;
  height: auto;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  cursor: pointer;

  &-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &--right {
      img {
        margin-left: 8px;
      }
    }

    &--left {
      img {
        margin-right: 8px;
      }
    }
  }

  &--primary {
    color: #fff;
    border-color: $color-primary;
    background-color: $color-primary;
    box-shadow: 0 8px 28px rgba($color-primary, 0.5);
  }

  &-sm {
    padding: 12px 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
  }

  &-xsm {
    font-size: 14px;
    line-height: 14px;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;

    &--ghost {
      border-color: #d4d4d4;
      color: $color-neutral-dark;

      &-outline {
        color: $color-neutral-dark;
        padding: 12px 8px;
      }
    }
  }

  &-quote {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    padding: 12px 0;
    border-radius: 4px;

    &--primary {
      color: $color-white;
      background-color: $color-primary;

      &-inverted {
        color: $color-primary;
        background-color: $color-primary-light;
      }
    }

    &--info {
      color: $color-white;
      background-color: $color-info;

      &-inverted {
        color: $color-info;
        background-color: $color-info-light;
      }
    }
  }
}
