.calculator {
  &__container {
    padding: 40px;
    border: none;
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
    border-radius: 24px;
    background-color: $color-white;
    @include elevation-6;

    @include responsive($tablet) {
      & {
        padding: 24px;
        padding-top: 40px;
        border-radius: 16px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;

    @include responsive($tablet) {
      & {
        flex-direction: column;
        row-gap: 24px;
      }

      h5 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.01em;
      }
    }

    button {
      margin-left: 16px;

      @include responsive($tablet) {
        & {
          width: 100%;
          justify-content: start;
          margin-left: 0;
        }
      }
    }
  }

  &__body {
    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 256px;
      column-gap: 24px;

      @include responsive($laptop) {
        & {
          column-gap: 16px;
          row-gap: 16px;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      @include responsive($tablet) {
        & {
          row-gap: 0;
          grid-template-columns: 1fr;
        }
      }

      .input-group {
        display: flex;
        flex-direction: column;
        max-width: 240px;
        width: 100%;
        @include responsive($laptop) {
          & {
            max-width: unset;
          }
        }
        @include responsive($tablet) {
          & {
            margin-bottom: 24px;
          }
        }

        label {
          margin-bottom: 4px;
        }
      }

      button {
        width: 100%;
        text-align: left;
        align-self: end;

        @include responsive($tablet) {
          justify-content: center;
        }
      }
    }
  }

  .form--vehicle-details {
    display: grid;
    grid-template-columns: 1fr;

    .vechicles {
      display: flex;
      flex-direction: column;

      .vehicle-container {
        display: flex;
        column-gap: 24px;

        &--new {
          margin-top: 64px;

          @include responsive($tablet) {
            & {
              position: relative;
              margin-top: 48px;
            }

            &::before {
              content: "";
              @include separator;
              position: absolute;
              top: -20px;
              left: 0;
            }
          }
        }

        @include responsive($tablet) {
          & {
            flex-direction: column;
          }
        }
      }
    }

    .run-and-drive {
      position: absolute;
      top: 110%;
      right: 0;
    }

    .btn--primary {
      grid-column: -1;
      width: 256px;

      @include responsive($laptop) {
        & {
          grid-column: unset;
          // margin-top: 24px;
        }
      }

      @include responsive($tablet) {
        & {
          width: 100%;
        }
      }
    }

    @include responsive($laptop) {
      .btn-xsm {
        grid-row: 2;
      }
    }

    @include responsive($tablet) {
      .btn-xsm {
        border-color: $color-neutral-light;
        width: 100% !important;
        margin: 24px 0;
      }
    }
  }
}

.steps-calculator {
  width: 100%;
  max-width: 556px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;

  @include responsive($tablet) {
    & {
      justify-content: center;
      margin-bottom: 24px;
    }
  }

  @include responsive($mobile) {
    & {
      justify-content: center;
      margin-bottom: 16px;
    }
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-neutral-light;

    @include responsive($tablet) {
      & {
        max-width: 72px;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
      }

      &:not(:last-child) {
        margin-right: 52px;
      }
    }

    .circle-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      margin-bottom: 8px;
      font-size: 14px;
      background-color: $color-white;

      &--2 {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 52px;
          background-image: url("../svg/dashed-line.svg");
          background-repeat: no-repeat;
          height: 100%;
          max-width: 152px;
          width: 152px;

          @include responsive($tablet) {
            & {
              left: 56px;
              width: 64px;
            }
          }

          @include responsive($mobile) {
            & {
              width: 48px;
            }
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -170px;
          background-image: url("../svg/dashed-line.svg");
          background-repeat: no-repeat;
          height: 100%;
          max-width: 152px;
          width: 152px;

          @include responsive($tablet) {
            & {
              left: -74px;
              width: 64px;
            }
          }

          @include responsive($mobile) {
            & {
              left: -159%;
              width: 48px;
            }
          }
        }
      }

      &--3 {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -167px;
          background-image: url("../svg/dashed-line.svg");
          background-repeat: no-repeat;
          height: 100%;
          max-width: 152px;
          width: 152px;

          @include responsive($tablet) {
            & {
              left: -174%;
              width: 64px;
            }
          }

          @include responsive($mobile) {
            & {
              left: -165%;
              width: 48px;
            }
          }
        }
      }
    }

    &--active {
      .circle-number {
        color: $color-white;
        background-color: $color-info;
      }
      p {
        color: $color-neutral-dark;
      }
    }

    &--ready {
      .circle-number {
        border: 1px solid $color-info;
        background-color: $color-pale;
        color: $color-pale;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-image: url("../svg/checkmark-icon.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 16px 24px;
          width: 100%;
          height: 100%;
        }
      }
      p {
        color: $color-neutral-dark;
      }
    }
  }
}
