.current-quote-details {
  max-width: 264px;
  width: 100%;

  @include responsive($tablet) {
    & {
      margin-top: 32px;
      max-width: unset;
    }
  }

  .detail-container {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    span:nth-child(2) {
      margin-bottom: 16px;
    }

    .vehicles {
      display: flex;
      flex-direction: column;
    }
  }

  .detail-card {
    padding: 16px;
    background-color: $color-white;
    border-radius: 8px;
    font-weight: 500;

    @include responsive($tablet) {
      & {
        max-width: 264px;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
