.our-services {
  background-color: #f0efea;
  min-height: auto;
  padding: 80px 40px;

  h2 {
    max-width: 1128px;
    margin: 0 auto;
    margin-bottom: 40px;

    @include responsive($tablet) {
      & {
        margin-bottom: 0;
      }
    }
  }

  & > p {
    display: none;

    @include responsive($tablet) {
      & {
        display: block;
        color: #424263;
        margin-bottom: 24px;
        margin-top: 16px;
      }
    }
  }

  &__container {
    position: relative;
    max-width: 1128px;
    margin: 0 auto;
  }

  &__track {
    overflow: visible;
  }

  &__slide {
    max-width: 320px;
    width: 100%;
    border: none;

    @include responsive($tablet) {
      & {
        max-width: 264px;
      }
    }

    a {
      width: 100%;
      height: 100%;
    }

    .card {
      transition: 0.3s ease-out;
      border-radius: 8px 24px 8px 24px;
      display: grid;
      grid-template-rows: 560px auto;
      height: 100%;

      @include responsive($tablet) {
        & {
          grid-template-rows: 343px auto;
          border-radius: 0 20px 0 20px;
        }
      }

      &__img {
        border-radius: 8px 24px 0 0;
        // max-height: 560px;
        height: 100%;
        // max-width: 320px;
        width: 100%;
        object-fit: cover;

        @include responsive($tablet) {
          & {
            border-radius: 0 20px 0 0;
            max-height: 343px;
            max-width: 264px;
          }
        }
      }

      &__title {
        padding: 24px;
        padding-top: 40px;
        border-radius: 0 0 8px 24px;
        background-color: #ffffff;

        @include responsive($tablet) {
          & {
            padding: 24px 16px;
            border-radius: 0 0 0px 20px;

            h3 {
              font-weight: 500;
              font-size: 20px;
              line-height: 26px;
              letter-spacing: 0.0015em;
              color: #424263;
            }
          }
        }
      }

      &:hover {
        transform: scale(1.01);
        @include elevation-6;
      }
    }
  }
}
