.quote-cards {
  width: 100%;
  max-width: 1128px;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:first-child {
      margin-right: 24px;
    }

    h4 {
      text-align: center;
    }

    & > div {
      display: flex;
    }

    .card {
      padding: 24px;
      width: 100%;
      padding-top: 32px;
      border-radius: 8px;
      text-align: center;
      background-color: $color-white;

      &--most-popular {
        position: relative;

        &:before {
          content: "Most popular";
          position: absolute;
          top: -11px;
          left: 30px;
          padding: 5px 10px;
          border-radius: 12px;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: $color-white;
          background-color: $color-primary;
        }
      }

      &:not(:last-child) {
        margin-right: 24px;
      }

      &__price {
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}
